  @keyframes blob {
    0%, 100% {
      transform: translate(0) scale(1);
    }
    25% {
      transform: translate(20px, -30px) scale(1.1);
    }
    50% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    75% {
      transform: translate(30px, 10px) scale(1.05);
    }
  }

  .animate-blob {
    animation: 20s ease-in-out infinite blob;
  }

input::placeholder {
  font-family: 'Instrument Sans', sans-serif;
}
